.sign-in{
    width: 30vw;
    display: flex;
    flex-direction: column;
    @media screen and(max-width:500px){
        padding: 0 10px;
    }
    @media screen and(max-width:850px){
        width: 80vw;
    }
}

.title{
    margin: 10px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

