.header {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: transparent;
    transition: 0.5s;
    z-index: 100;
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px 0 10px 20px;

      @media screen and (max-width:850px){
        width: 50px;
      }
    }
    .options {
      padding-left: 20px;
      cursor: pointer;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      @media screen and (max-width:850px){
        width: 80%;
      }
      .option {
        padding: 10px 15px;
      }
    }

    @media screen and (max-width:850px){
      height: 60px;
      padding: 10px;
      margin-bottom: 26px;
    }
  }
  .active {
    background-color:rgba(49, 28, 24, 0.9);
    box-shadow: 1px 1px 10px;
    transition: 0.5s;

    .option{
      color: white;
    }
  }