body{
    font-family: 'Open sans';
    background-color: #DBE1DF;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

.topmargin{
    margin-top: 100px;
}
.bodyPadding{
    padding-left: 50px;
    padding-right: 50px;
}