body{
    font-family: 'Open sans';
    background-color: linen;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

.topmargin{
    margin-top: 100px;
}